*, ::after, ::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    /* background-color: #ececec;
    color: #000; */
}

canvas{
    display: block;
}

.navbar {
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #343a40;
}

.form {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form select {
    height: 33px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 2px;
    padding: 6px 12px;
}

.form input {
    height: 33px;
    padding: 6px 12px;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 2px;
}

.btn {
    height: 33px;
    width: 90px;
    color: #28b0b9;
    border-color: #28b0b9;
    background-color: transparent;
    border: 1px solid #28b0b9;
    border-radius: 2px;
    padding: 6px 12px;
}

.btn:hover {
    color: #fff;
    background-color: #28b0b9;
    border-color: #28b0b9;
}

.list {
    position: fixed;
    bottom: 0;
}

.list ul {
    list-style: none;
}

.list ul span {
    position: absolute;
   left: 400px;
    cursor: pointer;
}